[starknet_chain_config]
poll_interval = "40s"
block_time    = { secs = 30, nanos = 0 }

json_rpc_url = "https://starknet-sepolia.public.blastapi.io/rpc/v0_7"
# json_rpc_url = "https://starknet-sepolia.reddio.com/rpc/v0_7"

# -- to be filled
# private information
# toml file containing the `account_address`, `public_key` and `signing_key` as Felt
relayer_wallet = ""

[starknet_chain_config.contract_classes]
# -- to be filled
erc20      = ""
ics20      = ""
ibc_client = ""

[starknet_chain_config.contract_addresses]
# -- to be filled
ibc_client = ""
ibc_core   = ""

[cosmos_chain_config]
id             = 'osmo-test-5'
account_prefix = 'osmo'
store_prefix   = 'ibc'
rpc_timeout    = { secs = 10, nanos = 0 }
address_type   = 'cosmos'
max_msg_num    = 4
max_tx_size    = 1048576

rpc_addr     = 'https://rpc.testnet.osmosis.zone'
# rpc_addr     = 'https://rpc.osmotest5.osmosis.zone'
grpc_addr    = 'https://grpc.testnet.osmosis.zone'
event_source = { mode = 'push', url = 'wss://rpc.testnet.osmosis.zone/websocket' }

# -- to be filled
# private information
# hermes-v1 key should be present at `<key_store_folder>/<key_name>.json`
key_store_folder = ""
key_name         = ''

# https://www.mintscan.io/osmosis-testnet
block_time        = { secs = 0, nanos = 520000000 }
clock_drift       = { secs = 1, nanos = 0 }
max_block_time    = { secs = 10, nanos = 0 }
compat_mode       = "v0.37"
extension_options = [  ]
poll_interval     = { secs = 1, nanos = 0 }

[cosmos_chain_config.gas_config]
default_gas        = 200000
max_gas            = 400000
gas_multiplier     = 1.25
gas_price          = { price = 0.0025, denom = 'uosmo' }
fee_granter        = ''
dynamic_gas_config = { multiplier = 1.1, max = 1.6, eip_query_type = "Osmosis", denom = "uosmo" }

[cosmos_chain_config.gas_config.max_fee]
amount    = [ { amount = "25000", denom = 'uosmo' } ]
gas_limit = 400000
payer     = ''
granter   = ''
