[package]
name          = "starknet_ibc_apps"
version       = { workspace = true }
edition       = { workspace = true }
cairo-version = { workspace = true }
scarb-version = { workspace = true }
authors       = { workspace = true }
repository    = { workspace = true }
license       = { workspace = true }
Readme        = { workspace = true }
keywords      = { workspace = true }

description = """
    Provides the implementation of IBC applications for Starknet.
"""

[lib]

[scripts]
test = { workspace = true }

[tool]
fmt = { workspace = true }

[dependencies]
# external dependencies
openzeppelin_access  = { workspace = true }
openzeppelin_token   = { workspace = true }
openzeppelin_testing = { workspace = true }
openzeppelin_utils   = { workspace = true }
snforge_std          = { workspace = true }
starknet             = { workspace = true }

# ibc dependencies
starknet_ibc_core  = { workspace = true }
starknet_ibc_utils = { workspace = true }
