[workspace]

resolver = "2"

members = [
  "crates/cairo-encoding-components",
  "crates/starknet-chain-components",
  "crates/starknet-chain-context",
  "crates/starknet-test-components",
  "crates/starknet-integration-tests",
]

[workspace.package]

version      = "0.1.0"
edition      = "2021"
license      = "Apache-2.0"
keywords     = [ "blockchain", "consensus", "cosmos", "ibc", "tendermint" ]
repository   = "https://github.com/informalsystems/hermes-sdk"
authors      = [ "Informal Systems <hello@informal.systems>" ]
rust-version = "1.79"

[profile.release]
overflow-checks = true

[workspace.dependencies]
cgp-core            = { version = "0.1.0" }
cgp-error-eyre      = { version = "0.1.0" }
cgp-component-macro = { version = "0.1.0" }

clap       = { version = "4.5.8" }
starknet   = { version = "0.11.0" }
url        = { version = "2.4.0" }
eyre       = { version = "0.6.12" }
tokio      = { version = "1.38" }
serde_json = { version = "1.0" }
rand       = { version = "0.8.5" }
sha2       = { version = "0.10.8" }

ibc-client-starknet-types = { version = "0.1.0" }

cairo-lang-starknet-classes = { version = "2.6.4" }

hermes-runtime-components       = { version = "0.1.0" }
hermes-async-runtime-components = { version = "0.1.0" }
hermes-tokio-runtime-components = { version = "0.1.0" }
hermes-runtime                  = { version = "0.1.0" }

hermes-error               = { version = "0.1.0" }
hermes-encoding-components = { version = "0.1.0" }

hermes-logging-components         = { version = "0.1.0" }
hermes-tracing-logging-components = { version = "0.1.0" }
hermes-logger                     = { version = "0.1.0" }

hermes-relayer-components = { version = "0.1.0" }

hermes-cosmos-chain-components  = { version = "0.1.0" }
hermes-cosmos-relayer           = { version = "0.1.0" }
hermes-cosmos-wasm-relayer      = { version = "0.1.0" }
hermes-cosmos-test-components   = { version = "0.1.0" }
hermes-cosmos-integration-tests = { version = "0.1.0" }

hermes-any-counterparty = { version = "0.1.0" }

hermes-cli-components = { version = "0.1.0" }

hermes-test-components = { version = "0.1.0" }

hermes-cairo-encoding-components = { version = "0.1.0" }
hermes-starknet-chain-components = { version = "0.1.0" }
hermes-starknet-test-components  = { version = "0.1.0" }
hermes-starknet-chain-context    = { version = "0.1.0" }

[patch.crates-io]
ibc                   = { git = "https://github.com/cosmos/ibc-rs.git", rev = "5dc0b09" }
ibc-core              = { git = "https://github.com/cosmos/ibc-rs.git", rev = "5dc0b09" }
ibc-core-client       = { git = "https://github.com/cosmos/ibc-rs.git", rev = "5dc0b09" }
ibc-core-host-cosmos  = { git = "https://github.com/cosmos/ibc-rs.git", rev = "5dc0b09" }
ibc-client-tendermint = { git = "https://github.com/cosmos/ibc-rs.git", rev = "5dc0b09" }
ibc-client-wasm-types = { git = "https://github.com/cosmos/ibc-rs.git", rev = "5dc0b09" }
ibc-app-transfer      = { git = "https://github.com/cosmos/ibc-rs.git", rev = "5dc0b09" }
ibc-primitives        = { git = "https://github.com/cosmos/ibc-rs.git", rev = "5dc0b09" }
ibc-derive            = { git = "https://github.com/cosmos/ibc-rs.git", rev = "5dc0b09" }

cgp-core                = { git = "https://github.com/informalsystems/cgp.git" }
cgp-component           = { git = "https://github.com/informalsystems/cgp.git" }
cgp-component-macro     = { git = "https://github.com/informalsystems/cgp.git" }
cgp-component-macro-lib = { git = "https://github.com/informalsystems/cgp.git" }
cgp-field               = { git = "https://github.com/informalsystems/cgp.git" }
cgp-field-macro         = { git = "https://github.com/informalsystems/cgp.git" }
cgp-field-macro-lib     = { git = "https://github.com/informalsystems/cgp.git" }
cgp-error               = { git = "https://github.com/informalsystems/cgp.git" }
cgp-error-eyre          = { git = "https://github.com/informalsystems/cgp.git" }
cgp-async               = { git = "https://github.com/informalsystems/cgp.git" }
cgp-async-macro         = { git = "https://github.com/informalsystems/cgp.git" }
cgp-run                 = { git = "https://github.com/informalsystems/cgp.git" }
cgp-inner               = { git = "https://github.com/informalsystems/cgp.git" }

ibc-relayer       = { git = "https://github.com/informalsystems/hermes.git", rev = "43f3e835" }
ibc-telemetry     = { git = "https://github.com/informalsystems/hermes.git", rev = "43f3e835" }
ibc-relayer-types = { git = "https://github.com/informalsystems/hermes.git", rev = "43f3e835" }

hermes-relayer-components       = { git = "https://github.com/informalsystems/hermes-sdk.git" }
hermes-relayer-components-extra = { git = "https://github.com/informalsystems/hermes-sdk.git" }

hermes-runtime-components       = { git = "https://github.com/informalsystems/hermes-sdk.git" }
hermes-async-runtime-components = { git = "https://github.com/informalsystems/hermes-sdk.git" }
hermes-tokio-runtime-components = { git = "https://github.com/informalsystems/hermes-sdk.git" }
hermes-runtime                  = { git = "https://github.com/informalsystems/hermes-sdk.git" }

hermes-error = { git = "https://github.com/informalsystems/hermes-sdk.git" }

hermes-encoding-components          = { git = "https://github.com/informalsystems/hermes-sdk.git" }
hermes-protobuf-encoding-components = { git = "https://github.com/informalsystems/hermes-sdk.git" }

hermes-logging-components         = { git = "https://github.com/informalsystems/hermes-sdk.git" }
hermes-tracing-logging-components = { git = "https://github.com/informalsystems/hermes-sdk.git" }
hermes-logger                     = { git = "https://github.com/informalsystems/hermes-sdk.git" }

hermes-test-components = { git = "https://github.com/informalsystems/hermes-sdk.git" }
hermes-ibc-test-suite  = { git = "https://github.com/informalsystems/hermes-sdk.git" }

hermes-any-counterparty = { git = "https://github.com/informalsystems/hermes-sdk.git" }

hermes-cosmos-chain-components  = { git = "https://github.com/informalsystems/hermes-sdk.git" }
hermes-cosmos-relayer           = { git = "https://github.com/informalsystems/hermes-sdk.git" }
hermes-cosmos-wasm-relayer      = { git = "https://github.com/informalsystems/hermes-sdk.git" }
hermes-cosmos-test-components   = { git = "https://github.com/informalsystems/hermes-sdk.git" }
hermes-cosmos-integration-tests = { git = "https://github.com/informalsystems/hermes-sdk.git" }

hermes-wasm-client-components = { git = "https://github.com/informalsystems/hermes-sdk.git" }
hermes-wasm-test-components   = { git = "https://github.com/informalsystems/hermes-sdk.git" }

hermes-cairo-encoding-components = { path = "./crates/cairo-encoding-components" }
hermes-starknet-chain-components = { path = "./crates/starknet-chain-components" }
hermes-starknet-test-components  = { path = "./crates/starknet-test-components" }
hermes-starknet-chain-context    = { path = "./crates/starknet-chain-context" }

ibc-client-starknet-types = { path = "../light-client/ibc-client-starknet-types" }

cairo-lang-starknet-classes = { git = "https://github.com/starkware-libs/cairo", tag = "v2.6.4" }
