name: Light Client
on:
  pull_request: {}
  push:
    tags:
      - v[0-9]+.*
    branches:
      - "release/*"
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ !startsWith(github.ref, 'refs/tags/') && github.ref != 'refs/heads/main' }}

env:
  CARGO_INCREMENTAL: 0
  CARGO_PROFILE_DEV_DEBUG: 1
  CARGO_PROFILE_RELEASE_DEBUG: 1
  CARGO_NET_RETRY: 10
  RUSTUP_MAX_RETRIES: 10

jobs:
  build-cw-contract:
    name: Build CosmWasm Light Client Contract
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@V27
        with:
          extra_nix_config: |
            experimental-features = nix-command flakes
      - uses: cachix/cachix-action@v15
        with:
          name: ibc-starknet
          extraPullNames: hermes-sdk,cosmos-nix
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}

      - uses: Swatinem/rust-cache@v2
        with:
          workspaces: |
            light-client -> light-client/target

      - name: Build CosmWasm light client contract
        working-directory: ./light-client
        run: |
          nix shell ..#rust-wasm -c \
            cargo build -p ibc-client-starknet-cw --target wasm32-unknown-unknown

      - name: E2E Test CosmWasm light client contract
        working-directory: ./light-client
        run: |
          STARKNET_WASM_CLIENT_PATH=$(nix build ..#ibc-starknet-cw --print-out-paths)/ibc_client_starknet_cw.wasm
          nix shell ..#ibc-starknet-cw -c \
            cargo test -p ibc-client-starknet-cw --target wasm32-unknown-unknown

  lint-light-client:
    name: Lint CosmWasm Light Client Contract
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@V27
        with:
          extra_nix_config: |
            experimental-features = nix-command flakes
      - uses: cachix/cachix-action@v15
        with:
          name: ibc-starknet
          extraPullNames: hermes-sdk,cosmos-nix
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
      - uses: Swatinem/rust-cache@v2
        with:
          workspaces: |
            light-client -> light-client/target

      - name: Run Clippy
        working-directory: ./light-client
        run: |
          nix shell ..#rust -c \
            cargo clippy --all-targets --all-features -- -D warnings

          nix shell ..#rust -c \
            cargo clippy --all-targets --no-default-features -- -D warnings
