name: Linting
on:
  pull_request:
    paths:
      - .github/workflows/lint.yaml
      - contracts/**
      - light-client/**
      - "**/Cargo.toml"
      - "**/Cargo.lock"
      - justfile
      - README.md

  push:
    tags:
      - v[0-9]+.*
    branches:
      - "release/*"
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ !startsWith(github.ref, 'refs/tags/') && github.ref != 'refs/heads/main' }}

env:
  CARGO_INCREMENTAL: 0
  CARGO_PROFILE_DEV_DEBUG: 1
  CARGO_PROFILE_RELEASE_DEBUG: 1
  CARGO_NET_RETRY: 10
  RUSTUP_MAX_RETRIES: 10

jobs:
  lint:
    name: Check Styles
    runs-on: ubuntu-latest
    timeout-minutes: 60
    strategy:
        matrix:
          toolchain: [stable, nightly]
    steps:
      - uses: actions/checkout@v4
      - name: Install Rust toolchains
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
            toolchain: ${{ matrix.toolchain }}
            components: clippy, rustfmt
      - name: Install Scarb
        uses: software-mansion/setup-scarb@v1
        with:
            scarb-version: "2.6.5"
      - name: Install Taplo
        uses: baptiste0928/cargo-install@v3
        with:
            crate: taplo-cli
      - name: Install Just
        uses: extractions/setup-just@v1
      - name: Run linters
        run: just lint
